html {
    background-color: #347B98;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, sans-serif;
    font-size: 87%;
}
header {
   /* background-color: #67AFCB; */ 
}
header h1 {
    padding-top: 20px;
    color: #092834;
    margin: 0;
    font-weight: normal;
}
header p {
    margin: 0;
    color: #fff;
}

/* Site Navigation */

    .site-nav {
        margin-top: 20px;
    }
    .site-nav ul {
        margin: 0;
        padding: 0;
    }
    .site-nav li {
    margin-right: 5px;
    list-style: none;
    float: left;
    }
    .site-nav a {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 10px 20px;
        border: 3px solid #092834;
        border-bottom: none;
    }
    .site-nav a:hover {
        background-color: #67AFCB;
    }

/* End Site Navigation */

/* Content Styling */

    .content{
        border-top: 3px solid #092834;
        border-bottom: 3px solid #092834;
        padding-bottom: 20px;
        background-color: #E4F1F6;

    }
    .container {
        max-width: 940px;
        margin: 0 auto;
        padding-left: 40px;
        padding-right: 40px;
    }

/* End Content Styling */

/* Media Q */

    @media screen and (max-width: 700px) {
        .content{
            width: auto;
        }
    }
    
    @media screen and (max-width: 480px) {
        .container  {
        padding-left: 20px;
        padding-right: 20px;
        }
    }


/* End Media Q */

/* Table style*/

    table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    }
    .col-item-name {
        width: 25%;
    }
    .col-asile-number {
        width: 25%;
    }
    .col-item-price {
        width: 25%;
    }
    .col-item-quanity {
        width: 25%;
    }
    table th {
        text-align: left;
        background-color: #347B98;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
    }
    table th,
    table td {
        border: 1px solid #347B98;
        padding: 10px;
    }
    table tbody tr:nth-child(even) {
        background-color: #67AFCB;
    }
    table.grocery-list tr :nth-child(2),
    table.grocery-list tr :nth-child(3),
    table.grocery-list tr :nth-child(4) {
        text-align: center;
    }

/* End Table style*/

/*Form Styling*/

    .hidden-lable {
        position: absolute;
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
    }

    form {
        padding: 30px 40px;
        
    }
    input,
    textarea,
    select {
        font-family: Tahoma, sans-serif;
        font-size: 100%;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select {
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 0 10px;
        height: 40px;
        margin-bottom: 15px;
        border: 1px solid #1A3E4C;
        resize: none;
        outline: none;
    }
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    textarea:focus,
    select:focus {
        outline: none;
        border: 1px solid #FC600A;
        box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .13);
    }  
    input[type="submit"] {
        width: 25%;
        box-sizing: border-box;
        background-color:  #1A3E4C;
        color: #E4F1F6;
        padding: 10px 0;
        border: 1px solid #347B98;
        transition-duration: 0.4s;
        border-radius: 4px;
        outline: none;
    }
    input[type="submit"]:hover:hover {
        background-color:  #347B98;
    }
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #1A3E4C;
        margin-bottom: 15px;
    }
    legend {
        margin-bottom: 15px;
    }

/*End Form Styling*/

footer {
        text-align: center;
        font-size: 85%;
        color: #67AFCB;
        padding-bottom: 5px;
}

/*Liked things styling*/

    .food {
        width: 50%;
        float: left;
    }
    .tBrands {
        width: 50%;
        float: Right;
    }

/* End Liked Things Styling*/

/*Child Clearing*/

    .group:before,
    .group:after {
        content: "";
        display: table;
    }
    .group:after {
        clear: both;
    }
    .group {
        zoom: 1;
    }

/*End  bChild Clearing*/